# Ignore build outputs
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
.idea/
android/
ios/
web/
macos/
linux/
windows/

# Keep these:
!lib/
pubspec.yaml
pubspec.lock
README.md
